

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>My New Website</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  </head>
<body>
    <div class="page-header">
        <h1><a href="/">Skotieono's Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row center">
            <br><br>
            {% block content %}
            {% endblock %}
        </div>
    </div>

          <!--Import jQuery before materialize.js-->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  </body>
</html>
