{% load staticfiles %}

<html>
  <head>
    <title>My New Website</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!-- Compiled and minified JavaScript -->
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  </head>
  <body>
    <div class="page-header">
      <h1><a href="/"> Skotieono's Blog</a></h1>
    </div>


    <div class="container">
      <h1 class="header center orange-text">Skotieono's Blog</h1>
    <div class="row center">
      <h5 class="header col1 s12 light">This is my new website, thanks for checking it out!</h5>
    </div>
      </div>

    </div>

  </div>

</div>
    {% for post in posts %}
        <div class="post">
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <!--Import jQuery before materialize.js-->
          <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
